<html> 
<ng-app="BoilerPlate">
    <head>
        <title>Dominic Gagn&eacute;</title>
    </head>
    <div class="banner">
        <img style="width:100%;" ng-src="Assets/test.jpg">
    </div>
        <center>
        <div class="title" style="margin-top:2%;">
            <text><l>Dominic</l><h>Gagn&eacute;</h>
            <br><m>Software Developer</m></text>
        </div>
    </center>
        <div layout="row">
            <div style="margin-top:1%;" flex="35" flex-offset="10">
                <h2>About Me</h2>
                <p>I am currently completing my Master's Degree in Computer Science at the University of Guelph. My present research area and primary interests lie in the domain of Human Computer Interaction. <br><br>I am passionate about creating robust software that has practical uses in everyday life. My favourite applications of Computer Science are server-side development and database design.</p>
            </div>
            <div flex="35" flex-offset="10">
                <center><img style="margin-top:6%; height:60%; width:60%;" ng-src="Assets/smartphone.png"></center>
            </div>
        </div>

        
        <div style="margin-top:6%;" layout="row">
            <div flex="35" flex-offset="10">
                <center><img style="margin-top:12%; height:40%; width:40%;" ng-src="Assets/git.png"></center>
            </div>
            <div flex="35" flex-offset="10">
                <center><h2>My Projects</h2></center>
                <md-list flex>

                    <md-list-item class="md-3-line md-long-text">
                        <img style="width:100%;" ng-src="Assets/roman-helmet.png" class="md-avatar" />
                        <div class="md-list-item-text">
                            <h3><b>CrowdControl</b></h3>
                            <p>A web application that allows hosts to invite their guests to vote on music at social events.</p>
                            <p><b>Development ongoing.</b></p>
                        </div>
                    </md-list-item>

                    <md-list-item class="md-3-line md-long-text">
                        <img style="width:100%;" ng-src="Assets/cowboy-hat.png" class="md-avatar" />
                        <div class="md-list-item-text">
                            <h3><b>High Noon</b></h3>
                            <p>A website that allows visitors in the same timezone to witness the glory that is McCree, and engage in a standoff at High Noon.</p>
                            <p><b>Development ongoing.</b></p>
                        </div>
                    </md-list-item>

                    <md-list-item class="md-3-line md-long-text">
                        <img style="width:100%;" ng-src="Assets/forget.png" class="md-avatar" />
                        <div class="md-list-item-text">
                            <h3><b>Forget Me Not</b></h3>
                            <p>Web application that sends SMS reminds to users about recurring events in their lives, at intervals chosen by them.</p>
                            <p><b>Development paused.</b></p>
                        </div>
                    </md-list-item>
                </md-list>
            </div>
        </div>



        <div style="margin-top:6%;" layout="row">
            <div flex="35" flex-offset="10">
                <h2>My Research</h2>
                <p>My Graduate research is centered around User Modelling in Software Applications, and lies within the domain of Human Computer Interaction.<br><br>I aim to study the effects of User Modelling in Post-Secondary Academic settings, and how such an implementation technique might differ from more traditional marketing-oriented User Modelling.</p>
            </div>
            <div flex="35" flex-offset="10">
                <center><img style="margin-top:18%; height:40%; width:40%;" ng-src="Assets/browser.png"></center>
            </div>
        </div>



        <div style="margin-top:6%;" layout="row">
            <div flex="35" flex-offset="10">
                <center><img style="margin-top:15%; height:40%; width:40%;" ng-src="Assets/sql.png"></center>
            </div>
            <div flex="35" flex-offset="10">
                <h2>Contact</h2>
                <h3>Have any questions or want to chat?</h3>
                <div layout="row">
                    <div flex="30">
                        <img style="margin-top:2%; height:40%; width:40%;" ng-src="Assets/github-logo.png">
                    </div>
                    <div flex="50">
                        <a ng-href="https://github.com/DominicGagne">
                            <span class="link">
                                <h3 style="display:inline;">Dominic Gagné</h3>
                            </span>
                        </a>
                    </div>
                </div>
                <div layout="row">
                    <div flex="30">
                        <img style="margin-top:4%; height:40%; width:40%;" ng-src="Assets/envelope.png">
                    </div>
                    <div flex="50">
                        <h3>Email goes here</h3>
                    </div>
                </div>

            </div>
        </div>


    <div style="margin-top:4%;" layout="row">
        <div flex="80" flex-offset="10">
        <center>
            <img style="margin-top:5%; height:60%; width:60%;" ng-src="Assets/angular_Crowd.png">
        </center>
        </div>
    </div>
 


        
    <div style="margin-top:8%; margin-bottom:5%;" layout="row">
        <div flex="80" flex-offset="10">
            <div layout="row">
                <div flex="25">
                    <br>
                    <h3 style="display:inline;">Created by </h3>
                    <a ng-href="https://github.com/DominicGagne">
                        <span class="link">
                            <h3 style="display:inline;">Dominic Gagné.</h3>
                        </span>
                    </a>
                </div>

                <div flex="25" flex-offset="50">
                   <h3>Icons provided by <a ng-href="http://www.flaticon.com">
                        FlatIcon
                    </a></h3>
                </div>
            </div>
        </div>
    </div>
</html>

